---
import Layout from "../../../layouts/Layout.astro";
import { ExercisesListPage } from "../../../components/exercises/ExercisesListPage";
---

<Layout title="Zarządzanie ćwiczeniami">
  <div class="container mx-auto py-6">
    <ExercisesListPage client:load />
  </div>
</Layout>
