---
import { Plus } from "lucide-react";
---

<div class="flex gap-4 mb-6 flex-col md:flex-row">
  <a href="/admin/users/new" class="flex items-center gap-2">
    <Plus className="mr-2 h-4 w-4" />
    Dodaj Użytkownika
  </a>
  <a href="/admin/plans/new" class="flex items-center gap-2">
    <Plus className="mr-2 h-4 w-4" />
    Dodaj Plan Treningowy
  </a>
  <a href="/admin/exercises/new" class="flex items-center gap-2">
    <Plus className="mr-2 h-4 w-4" />
    Dodaj Ćwiczenie
  </a>
  <a href="/admin/reasons" class="flex items-center gap-2">
    <Plus className="mr-2 h-4 w-4" />
    Zarządzaj Powodami
  </a>
</div>
